In [1]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple'''
##Answer Below

str = 'Shyam'
type(str)

l = [99,88,77,66,55]
type(l)

flt = 99.999999999
type(flt)

t = (9,8,7,6,5,4,3,2)
type(t)

tuple

In [42]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ '
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.'''
##Answer Below


var1 = '' # String
var2 = '[ DS, ML, Python]' # String
var3 = [ 'DS' , 'ML' , 'Python' ] #List
var4 = 1 # Integer

int

In [ ]:
'''Q.3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** '''
##Answer Below

(i) The / operator is used for division in Python. 
When used with two operands, it returns the quotient (result of division) as a floating-point number.

(ii) The % operator is used for modulus (remainder) in Python. 
When used with two operands, it returns the remainder of the division operation.

(iii) The // operator is used for floor division in Python. 
When used with two operands, it returns the quotient (result of division), rounded down to the nearest integer.

(iv) The ** operator is used for exponentiation (raising a number to a power) in Python. 
When used with two operands, it returns the result of raising the first operand to the power of the second operand.

In [49]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''
##Answer Below

my_list = [9,12,8,'Shyam','Sahana',True,99.9,2023,'PWskills','DataScience']
for i in my_list:
    print(i)
    print(type(i))

9
<class 'int'>
12
<class 'int'>
8
<class 'int'>
Shyam
<class 'str'>
Sahana
<class 'str'>
True
<class 'bool'>
99.9
<class 'float'>
2023
<class 'int'>
PWskills
<class 'str'>
DataScience
<class 'str'>

In [22]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''
##Answer Below

a = int(input('Enter the value of A'))
b = int(input('Enter the value of B'))
count = 0
while a%b == 0 :
    count += 1
    a = a/b
print('a is divisible by b',count, 'times')

Enter the value of A 10
Enter the value of B 10

a is divisible by b 1 times

In [28]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''
##Answer Below

l = list(range(1,26))
for i in l:
    if i % 3 == 0:
        print(i, 'is divisible by 3')
    else:
        print(i, 'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''
##Answer Below

Mutable data types are those that can be modified after they have been created. 
This means that the value of the object can be changed without creating a new object. 
Examples of mutable data types in Python include lists, sets, and dictionaries.

Example:
my_list = [1, 2, 3, 4]
my_list[0] = 5
print(my_list)  # Output: [5, 2, 3, 4]

On the other hand, immutable data types are those that cannot be modified after they have been created. 
This means that the value of the object cannot be changed, and if we want to modify the object, we need to create a new object. 
Examples of immutable data types in Python include integers, floats, strings, and tuples.

Example: